<% include _header %>

<div class="container notisIndex">
    <div class="noticias col-4 inline">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit molestiae laborum distinctio illo minima, quis saepe facilis corrupti ea corporis repellat quas qui numquam ut quaerat officiis ipsum quidem doloremque?
        <img class="picture" src="./images/salto_azul.jpg"> 
    </div>
    <div class="noticias col-4 inline">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit molestiae laborum distinctio illo minima, quis saepe facilis corrupti ea corporis repellat quas qui numquam ut quaerat officiis ipsum quidem doloremque?
        <img class="picture" src="./images/salto_rojo.jpg">
    </div>
    <div class="noticias col-4 inline">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit molestiae laborum distinctio illo minima, quis saepe facilis corrupti ea corporis repellat quas qui numquam ut quaerat officiis ipsum quidem doloremque?
        <img class="picture"  src="./images/patada_azul.jpg">
    </div>
</div>

<% include _footer %>